@import ~styles/base/mixins
@import ~styles/base/var
  
.section
  background-color: $black
  padding-bottom: 5.6rem
  @include desktop
    padding-bottom: 9.6rem

  .heading
    margin-bottom: 6.4rem
    transform: translateY(-2rem)
    @include desktop
      margin-bottom: 8rem
      transform: translateY(-4rem)

  .list
    position: relative
    z-index: 1
  
  .logo
    height: 5.4rem
    width: 100%
    @include desktop
      width: calc(( 100% / 5 ) - 3.2rem)