.about

  &__title
    padding-bottom: 1.6rem

  &__card
    position: relative
    background-color: white
    margin-top: 5.6rem
    padding: 1.6rem
    min-height: 24rem

    &::after
      content: ''
      position: absolute
      top: -4rem
      left: 1.6rem
      width: 3.2rem
      height: 7.2rem
      background-color: transparentize($pink, .5)

    &__title
      text-align: center
      margin-bottom: 2.4rem