.contact

  &__title
    margin-bottom: 3.2rem
    @media screen and ( min-width: 768px )
      margin-bottom: 4.8rem

  &__wrapper
    @include flex()

  &__social
    margin-right: 4rem
    @media screen and ( min-width: 768px )
      width: 30%
    @media screen and ( min-width: 1120px )
      width: 50%

    &__item
      a
        display: inline-block
        position: relative
        padding: .8rem 1.6rem
        @media (hover: hover)
          &:hover
            &::after
              opacity: 1
        
        &::after
          @extend .active-indicator

  &__link
    display: inline-block
    color: $pink
    font-weight: 600
    font-size: 1.6rem
    margin-top: 1.6rem
    text-decoration: underline
    @include transition(color)
    @media (hover: hover)
      &:hover
        color: transparentize($pink, .4)