.projects

  &__title
    margin-bottom: 1.6rem

  &__filter
    @include flex()
    padding: 1.6rem 0
    overflow-y: visible
    overflow-x: scroll
    @media screen and ( min-width: 425px )
      overflow-x: visible
    // position: relative
    // &::after
    //   content: ''
    //   position: absolute
    //   right: -1.6rem
    //   width: 4.8rem
    //   height: 100%
    //   background: linear-gradient(270deg, rgba(243,235,234,1) 0%, rgba(243,235,234,0) 100%)

    &__name
      position: relative
      margin: 0 1.2rem
      white-space: nowrap
      @media (hover: hover)
        &:hover
          &::after
            opacity: 1
      
      &::after
        @extend .active-indicator

      &.active
        h5
          color: $pink
        