.header
  position: fixed
  width: 100%
  top: 0
  left: 0
  background-color: $beige
  z-index: $headerIndex

  &__wrapper
    @include flex($align: center, $justify: space-between)
    padding: .8rem 0
    @media screen and ( min-width: 768px )
      padding: 1.2rem 0

  &__logo
    @include flex()

  &__navigation
    @include flex()
    li
      
      h5
        display: inline-block
        position: relative
        padding: 0 3.2rem
        @media (hover: hover)
          &:hover
            &::after
              opacity: 1
        &::after
          @extend .active-indicator
          