.mobile-navigation
  position: fixed
  top: 6.8rem
  right: 0
  background-color: $beige
  border: .1rem solid $black
  width: 10rem
  padding: 0 1.6rem
  z-index: $navigationIndex
  @include transition(transform)
  transform: translateX(100%)

  &.active
    transform: translateX(-1.6rem)

  h5
    display: inline-block
    padding: 1.6rem 0
    width: 100%
    text-align: right